.banner-image {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: Arial, Helvetica, sans-serif;
}

.h1-title {
  text-shadow: rgba(0, 0, 0, 0.282);
}

.card-height {
  max-height: 60vh;
}

.right-card {
  max-height: 60vh;
  padding: 5vh;
}

.card-title {
  text-align: center;
  color: #001e49;
  text-shadow: rgba(0, 0, 0, 0.61);
}

.card-btn {
  border-color: #001e49;
  border-width: 3px;
  padding: 2vh;
  width: 20vw;
  background-color: #00376a;
  color: white;
}

.card-btn-two {
  border-color: #001e49;
  border-width: 3px;
  padding: 2vh;
  background-color: #00376a;
  color: white;
}

.card-btn a {
  text-decoration: none;
  color: white;
}

.card-btn:hover {
  background-color: white;
  color: #001e49;
  border-color: #001e49;
}

.card-btn a:hover {
  color: #001e49;
}

.features {
  padding: 60px;
}

.features .feature-icon {
  padding: 10px 0px;
}

.features .feature-icon i {
  background: #001e49;
  color: white;
  padding: 14px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
}

.features .feature-header {
  font-size: 22px;
  font-weight: bold;
  color: #001e49;
  padding: 10px 0px;
}

.features .feature-divider {
  background: linear-gradient(
    to right,
    #001e49 0%,
    #001e49 20%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 4px;
  width: 100%;
}

.features .feature-detail {
  color: #001e49;
  padding: 10px 0px;
}

.footer-icons ul li {
  display: inline-block;
}

.footer-icons ul li a {
  border: 1px solid white;
  color: white;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  border-radius: 4px;
}

.footer-icons {
  text-align: center;
}

.footer-contacts p span {
  color: #3ec1d5;
  font-weight: 700;
}

.popular-tag ul li {
  display: inline-block;
}

.footer-content {
  display: block;
  overflow: hidden;
}

.popular-tag ul li a:hover,
.footer-icons ul li a:hover {
  background: #3ec1d5;
  border: 1px solid #3ec1d5;
  color: #fff;
}

.popular-tag ul li a {
  border: 1px solid #444;
  border-radius: 30px;
  color: #444;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin: 5px 3px;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.4s ease 0s;
  width: 70px;
  text-align: center;
}

.footer-area-bottom {
  background: #0b0b0b none repeat scroll 0 0;
  padding: 50px 0;
}

.copyright-text a:hover {
  text-decoration: underline;
  color: #3ec1d5;
}

.copyright-text a {
  color: #444;
}

.copyright > p {
  margin-bottom: 0;
  color: #444;
}

.credits {
  padding-top: 5px;
  text-align: center;
  color: rgb(187, 187, 187);
}
