.banner-image {
  background-image: url("/assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: Arial, Helvetica, sans-serif;
}

.h1-title {
  text-shadow: rgba(0, 0, 0, 0.282);
}

.card-height {
  max-height: 60vh;
}

.right-card {
  max-height: 60vh;
  padding: 5vh;
}

.card-title {
  text-align: center;
  color: #001e49;
  text-shadow: rgba(0, 0, 0, 0.61);
}

.card-btn {
  border-color: #001e49;
  border-width: 3px;
  padding: 2vh;
  width: 20vw;
  background-color: #00376a;
  color: white;
}

.card-btn-two {
  border-color: #001e49;
  border-width: 3px;
  padding: 2vh;
  background-color: #00376a;
  color: white;
}

.card-btn a {
  text-decoration: none;
  color: white;
}

.card-btn:hover {
  background-color: white;
  color: #001e49;
  border-color: #001e49;
}

.card-btn a:hover {
  color: #001e49;
}

.features {
  padding-top: 40px;
}

.features .feature-icon {
  padding: 10px 0px;
}

.features .feature-icon i {
  background: #001e49;
  color: white;
  padding: 14px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
}

.features .feature-header {
  font-size: 22px;
  font-weight: bold;
  color: #001e49;
  padding: 10px 0px;
}

.features .feature-divider {
  background: linear-gradient(
    to right,
    #001e49 0%,
    #001e49 20%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 4px;
  width: 100%;
}

.features .feature-detail {
  color: #001e49;
  padding: 10px 0px;
}
